* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Silkscreen', cursive;
    background-color:aliceblue;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    margin: 100px;
}

.logo {
    width: 200px;
    height: 80px;
    mix-blend-mode: darken;
}

.digi-img {
    mix-blend-mode: darken;
}