* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Silkscreen', cursive;
    background-color:aliceblue;
    gap: 20px;
}


form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 10px;
}

form input {
    font-size: 1.2vw;
}

footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 15px;
}

input[type="submit"] {
    cursor: pointer;
}

.container {
    width: 80%;
    margin: 0 auto;
}



.logo {
    width: 350px;
    height: 150px;
    mix-blend-mode: darken;
}

span {
    size: 50vw;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    padding: 0 60px;
}

.owl-carousel {
    mix-blend-mode: darken;
    font-size: 1vw;
    text-align: center;
}

.digi-img-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.digi-img {
    mix-blend-mode: darken;
    height: auto;
    object-fit: contain;
}

@media (max-width: 675px) {
    body {
        gap: 50%;
    }
    footer {
        font-size: 50%;
    }
    h1 {
        font-size: 100%;
    }
    .logo {
        width: 50%;
        height: 50%;
    }
    .main {
        font-size: 50%;
    }
    .digi-img {
        width: 50%;
        height: 50%;
    }
}