* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Silkscreen', cursive;
    background-color:aliceblue;
    gap: 20px;
}


form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 10px;
    transform: scale(1.2);
}

footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 15px;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}



.logo {
    width: 300px;
    height: 160px;
    mix-blend-mode: darken;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.digi-img {
    mix-blend-mode: darken;
    width: 420px;
    height: 420px;
}

@media (max-width: 675px) {
    body {
        gap: 50%;
    }
    form {
        transform: scale(0.8);
    }
    footer {
        font-size: 50%;
    }
    .logo {
        width: 50%;
        height: 50%;
    }
    .header {
        font-size: 50%;
    }
    .main {
        font-size: 50%;
    }
    .digi-img {
        width: 50%;
        height: 50%;
    }
}